.header {
    display: flex;
    flex-direction: row;
    height: 80px;
    background-color: black;
    justify-content: space-between;
}
.left-section {
    width: 100px;
    color: white;
}

.middle-section {
    flex: 1;
    color: white;
}

.right-section{
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
}

.right-section, a {
    color: white;
    background-color: black;
    border: none;
    text-decoration: none;
}

.right-section, a:hover {
    color: lightblue;
    cursor: pointer;
}